body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centres the containers */
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ab372f, #e04631);
    color: #333;
}

#rps-game {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centres the game content */
}

button {
    width: 150px;
    height: 65px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(4, 206, 4);
}

button:hover {
    background-color: rgb(2, 107, 2);
}

